#main_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#small_image_left {
    left: 0%;
    position: absolute;
}
#small_image_right {
    right: 0%;
    position: absolute;
}

#comment {
    text-align: center;
}